*{
    margin: 0px;
    padding: 0px;
}
.row1{
    background-color: #A2D9B1 ;
    display: flex;
    padding: 20px;
    align-items: center;
    background-image: url(../images/dark.png);
    background-size: cover;
    padding-top: 40px;
   
}
.ulil{
    display: flex;
    list-style: none;
    gap: 30px;
    color: white;
}
select{
    border: none;
    font-size: 15px;
   background-color:rgb(3, 36, 3);
    cursor: pointer;
    color: white;
    
}
.images{
    height: 60px;
    width: 110px;
}
.im{
    margin-left: 200px;
}
.nav{
    margin-left: 100px;
    font-size: 16px;
    
}
a{
    text-decoration: none;
    color: white;
    
}
#wid{
    width: 90px;
}
.log{
    margin-left: 150px;
    font-size: 16px;
    color: white;
}
.reg{
    margin-left: 20px;
  border-radius: 10px;
    background-color: #F39C12 ;
    font-size: 20px;
    padding: 10px;
    color: white;
}
.contain{
    height: 100%;
    width: 1700px;
}
.row2{
    margin-top: 50px;
    justify-items: center;
    background-color: rgb(221, 228, 234);
    padding: 30px;
}
.miki{
    font-size: 50px;
}
.look{
    color: #F39C12;
}
.row3{
    margin-top: 20px;
    display: flex;
    justify-content: center;

}
.newk{
    height: 200px;
    width: 1300px;
}
.row3{
    margin-top: 50px;
}
.box1{
    border: 1px solid rgb(151, 147, 147);
    height: 440px;
    width: 450px;
}
.glow{
    width: 100%;
    height: 350px;
}
.era{
    font-size: 25px;
    margin-left: 10px;
}




footer{
    background-image: url(../images/dark.png);
    background-size: cover;
    padding-top: 20px;
}
.ending{
    margin-top: 50px;
}
.fox{
    margin-top: 150px;
    margin-left: 200px;
    display: flex;
    gap: 50px;
    color: white;
}
.molo{
    height: 80px;
    width: 140px;
}
.tension{
    width: 300px;
    font-size: 21px;
}
.gift{
    font-size: 30px;
}
.flii{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.hamro{
    margin-top: 20px;
}
.uop{
    margin-top: 10px;
}
.part{
    margin-top: 80px;
}
.trap{
    margin-top: 50px;
    display: flex;
}
.loki{
    height: 50px;
    width: 200px;
    position: relative;
    left: 20px;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.vox{border-radius: 20px;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(155, 166, 170);
    color: rgb(49, 122, 174);
}
#herp{
    font-weight: bolder;
    font-size: larger;
}
.tail{
    font-size: 21px;
    color: white;
    margin-top: 20px;
    justify-items: center;
}
.fair{
    height: 4px;
    border: none;
    background-color: rgb(200, 191, 178);
    width: 300px;
}
.tale{
    margin-top: 10px;
    padding-bottom: 50px;
}